//header   
  .header, .footer{
    background-color: $primary;
    color: #fff;
  }
  
//Menu RWD有問題
  .headerContent{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 80px;
    }
    .menu{
      display: flex;
    }
    .menuItems{
        text-decoration: none;
        color: #fff;
        padding: 0 32px;
    }
  }

  .header{
    @include mobile{
      .container{
        width: 100%;
        padding: 0 0;
      }
      .headerContent{
        height: auto;
        display: block;
      .headerLeft{
        height: 80px;
        display: flex;
        justify-content:center;
        align-items: center;
      }
      .headerRight{
        padding-left:-12px;
      }
      .menu{
        flex-wrap: wrap;
      }
      .menuItems{
        border: #fff solid 1px;
        height: 48px;
      } 
      }
    }
  }






 
//footer
.footerUpper, .footerBottom{
  display: flex;
  justify-content: space-between;
  a{
    color: #fff;
    text-decoration: none;
  }
}

.footerUpper{
  padding-top: 60px;
  @include mobile{
    padding-top: 24px;
  }

  .menu{
    display: flex;
    .menuItems{
      padding-right: 48px;
    }
    @include mobile {
      display: none;
    }
  }
  .contact{
    font-size: $h3;
    line-height: 54px;
    padding: 32px 0;
    .tel, .mail{
      display: flex;
      margin-bottom: 8px;
      img{
        margin-right: 16px;
        @include mobile{
          width: 24px;
          margin-right: 8px;
        }
      }
    }
    @include mobile{
      font-size: $font-size-base;
      padding: 0;
      line-height: 24px;
      margin-bottom: 24px;
    }
  }


  .footerRight{
    display: flex;
    .socialLink{
      width: 48px;
      height: 48px;
      margin-left: 32px;
      @include mobile{
      width: 24px;
      height: 24px;
      margin-left: 8px;
      }
    }
  }
  
}


.footerBottom{
  border-top: #fff solid 1px;
  padding: 32px 0;
  .policy{
    a{
      padding-left: 48px;
      font-size: $font-size-sm;
      @include mobile{
        display: block;
        padding: 0 0;
        font-size: $font-size-base;
        margin-top: 8px;
      }
    }
  }
  @include mobile{
    display: block;
    padding: 16 24px;
    line-height: 24px;
  }
}
 